html {
    background-image: url("/cloth.png");
    background-position: center;
    background-attachment: fixed;
}

* {
    font-family: Inter, Helvetica, Arial, sans-serif;
}

code {
    font-family: monospace;
    font-size: 16px;
}

html,
body {
    margin: 0;
}

.depth {
    box-shadow:
        0 3px 6px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);
}

button.base {
    cursor: pointer;
    border: none;
    background: none;
}